@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-underline {
  position: relative;
  display: inline-block;
}

.animated-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 3px;
  background-color: #ffc300; /* artisan-gold */
  transition: width 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.animated-underline.active::after {
  width: 100%;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
